<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Usuario:  {{ usuario.nombre }} {{ usuario.apPaterno }} {{ usuario.apMaterno }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>ID:  </strong>{{usuario.id}}</li>
                    <li class="list-group-item"><strong>Nombre:  </strong>{{usuario.nombre}}</li>
                    <li class="list-group-item"><strong>Apellido paterno:  </strong>{{usuario.apPaterno}}</li>
                    <li class="list-group-item"><strong>Apellido materno:  </strong>{{usuario.apMaterno}}</li>
                    <li class="list-group-item"><strong>FechaNacimiento:  </strong>{{usuario.fechaNacimiento}}</li>
                    <li class="list-group-item"><strong>Telefono:  </strong>{{usuario.telefono}}</li>
                     
                    

                </ul>
            </div>
        </div>
    </div>

</div>
