
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Detalle de domicilio</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"><strong>ID: </strong>{{domicilio.id}}</li>
                    <li class="list-group-item"><strong>CALLE: </strong>{{domicilio.calle}}</li>
                    <li class="list-group-item"><strong>NUMERO INTERIOR: </strong>{{domicilio.numeroInterior}}</li>
                    <li class="list-group-item"><strong>NUMERO EXTERIOR: </strong>{{domicilio.numeroxteriro}}</li>
                    <li class="list-group-item"><strong>COLONIA: </strong>{{domicilio.colonia}}</li>
                    <li class="list-group-item"><strong>CP: </strong>{{domicilio.cp}}</li>
                    <li class="list-group-item"><strong>MUNICIPIO: </strong>{{domicilio.municipio}}</li>
                    <li class="list-group-item"><strong>ESTADO: </strong>{{domicilio.estado}}</li>
        
                    <li class="list-group-item"><strong>ID PACIENTE: </strong>{{domicilio.usuario.nombre}}</li>
              
                    
              
                </ul>
            </div>
        </div>
    </div>

</div>
